 /* Style the navigation menu */
 header {
    color: white;
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: chocolate;
}

#headerDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
}

#myLinks {
    display: flex;
    gap: 18px;
}

.menu {
    justify-content: center;
    display: flex;
    height: 0px;
}

.active {
    background-color: #04AA6D;
    color: white;
} 

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
}