body {
    margin: 0;
    background-color: orangered;
}

.d_none {
    display: none !important;
}

a {
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.distance {
    padding: 16px 28px;
}

footer {
    background-color: orange;
    height: 100px;
}