body {
    margin: 0;
    background-color: #ff8000;
    font-size: 20px;
}

.d_none {
    display: none !important;
}

a {
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.distance {
    padding: 10px 28px;
}

.j_c_c {
    justify-content: center;
}

#eat {
    display: flex;
    align-items: center;
    padding: 22px;  
}

#eatDiv {
    background-color: wheat;
    width: 540px;
    border-radius: 24px;
    padding: 12px;
}

#eatOrder {
    display: flex;
    justify-content: space-between;
}

#eatOrder > button {
    width: 45px;
    height: 45px;
    font-size: 32px;
    border-radius: 24px;
    text-align: center;
    color: #ff8000;
}
.price {
    color: #ff8000;
}

#shoppingCart {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 36px;
    font-weight: bold;
    position: fixed;
    right: 0;
}

#shoppingCart > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

.btn {
    height: 36px;
    width: 36px;
    border-radius: 24px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: 1800px) {
    #shoppingCart {
        width: 280px;
    }
    
}