body {
    margin: 0;
    background-color: orange;
    font-size: 20px;
}

.d_none {
    display: none !important;
}

a {
    display: flex;
    text-decoration: none;
    gap: 12px;
    color: white;
}

.distance {
    padding: 16px 28px;
}

#eat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px;  
}

#eatDiv {
    background-color: wheat;
    width: 900px;
    border-radius: 24px;
    padding: 12px;
}

#eatOrder {
    display: flex;
    justify-content: space-between;
}

#eatOrder > button {
    width: 45px;
    height: 45px;
    font-size: 32px;
    border-radius: 24px;
    text-align: center;
    color: orange;
}
.price {
    color: orange;
}

#shoppingCart {
    position: absolute;
    bottom: 140px;
    left: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    background-color: orange;
}

#shoppingCart > div {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0, 0, 0.1);
}

#mealList {
    padding: 120px 0px;
}

footer {
    height: 100px;
}